h2{
	font-family:DharmaGothicERegular;
	font-size:150%;
}

h2 a{
	color:#000000;
}

#header_div{
	text-align:center;
	padding-top:10px;
}


#sce{
	padding-top:10px;
}

#sce table{
	margin:0;
	padding:0;
	padding-top:10px;
}

#sce_left{
	width:205px;
	min-height:122px;
	padding:10px;
	background-color:#eb1c23;
	float:left;
}

#sce_right{
	width:515px;
	float:right;
}

.services{
	width:755px;
}

.links{
background-color:#eb1c23;
padding:10px;
margin-bottom:10px;
}

.links ul{
	margin:0;
	padding:0;
	line-height:150%;
}

.links ul li{
	display:inline;
	padding-right:5px;
}

.links ul li a{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:80%;
	color:#ffffff;
}

.links ul li a:hover{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:80%;
	color:#262626;
}

#map_image
{
	outline:none;
	border:none;
}

#summary{
	height:auto;
	padding-bottom:5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:80%;
}

#summary_left{
	float:left;
	width:50%;
}

#summary_right{
	float:right;
	width:50%;
}

#map_images{
	padding-bottom:5px;
}


.clear_div{
clear:both;
}

.floor{
	display:none;
}


#f1{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:80%;
}

#f2{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:80%;
}

#f3{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:80%;
}
#f4{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:80%;
}

#fB{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:80%;
}
